* {
    margin: 0px;
    padding: 0px;

}

.clearfix {
    float: none;
    clear: both;
}

#container {
    width: 77%;
    background-color: grey;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

header {
    width: 100%;
    height: 150px;
    background-color: lightskyblue;
    color: #333;
    line-height: 150px;
    text-align: center;
}

aside {
    width: 25%;
    min-height: 700px;
    float: left;
    background: #ccc;
    line-height: 700px;
}

#articles {
    width: 75%;
    min-height: 700px;
    background-color: lemonchiffon;
    float: left;
}

#articles article {
    width: 25%;
    height: 150px;
    background: green;
    color: white;
    line-height: 150px;
    text-align: center;
    border: 2px solid white;
    float: left;
    margin: 15px;
}

/*responsive*/
/*desde la anchura 0 px hasta la anchura 888px*/
@media(max-width:888px) {}